# GCS
SA_PATH_JSON=

PROJECT_ID=
BUCKET_NAME=

GCSFUSE_MOUNT_DIR=mnt/gcsfuse
GCSFUSE_MOUNT_FLAGS=--implicit-dirs --foreground
GCSFUSE_API_PORT=8081

# Local
LOCAL_MOUNT_DIR=mnt/local
LOCAL_API_PORT=8080

# Shared API settings
API_HOST=0.0.0.0
TENANT_ID_REGEX=^[a-z0-9][a-z0-9_-]{1,31}$
BENCHMARK_OUTPUT_DIR=artifacts/results
